/* .gameContainer {
    max-width: 600px;
    margin: 20vh auto;
    padding: 20px;
    text-align: center;
    font-family: "Arial, sans-serif";
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .gameContainer p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  

  

  
  button:focus {
    outline: none;
  }
  
  button.submitButton {
    background-color: #28a745;
    color: white;
  }
  
  button.submitButton:hover {
    background-color: #218838;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button.restartButton {
    background-color: #ffc107;
    color: white;
  }
  
  button.restartButton:hover {
    background-color: #e0a800;
  }
  
  button.backToHomeButton {
    background-color: #dc3545;
    color: white;
  }
  
  button.backToHomeButton:hover {
    background-color: #c82333;
  }
   */

.gameContainer{
    display:flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 125px);
    padding: 20px;

}

.winningNumber{
    max-width:fit-content;
    margin:20px auto;
    font-size: 2em;

}

.fullWidth{
    width:100%;
    text-align: center;
}

.bottomBar{
    align-self: end;
    display:flex;
    justify-content: space-between;
}

input {
    width: 50%;
    padding: 20px;
    font-size: 1rem;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .submitButton {
    background: #ff7d29;
    border: 1px solid #ff7d29;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    
  }
  
  .submitButton:hover,
  .submitButton:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
  }
  
  .submitButton:active {
    opacity: 0.5;
  }
  