/* .gameContainer {
    max-width: 600px;
    margin: 20vh auto;
    padding: 20px;
    text-align: center;
    font-family: "Arial, sans-serif";
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .gameContainer p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  

  

  
  button:focus {
    outline: none;
  }
  
  button.submitButton {
    background-color: #28a745;
    color: white;
  }
  
  button.submitButton:hover {
    background-color: #218838;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button.restartButton {
    background-color: #ffc107;
    color: white;
  }
  
  button.restartButton:hover {
    background-color: #e0a800;
  }
  
  button.backToHomeButton {
    background-color: #dc3545;
    color: white;
  }
  
  button.backToHomeButton:hover {
    background-color: #c82333;
  }
   */

.gameContainer{
    display:flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 125px);
    padding: 20px;

}

.winningNumber{
    max-width:fit-content;
    margin:20px auto;
    font-size: 2em;

}

.fullWidth{
    width:100%;
    text-align: center;
}

.bottomBar{
    align-self: end;
    display:flex;
    justify-content: space-between;
}

input {
    width: 50%;
    padding: 20px;
    font-size: 1rem;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
  }