.heading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff7d29;
  font-family: "Chakra Petch", sans-serif;
  font-size: 2em;
  text-shadow: 0.03em 0.03em 0 hsla(230, 50%, 50%, 1);
  margin: 0;
}

@media (min-width: 600px) {
  .heading-content {
    font-size: 3em;
  }
}

@media (min-width: 700px) {
  .heading-content {
    font-size: 5em;
  }
}

@media (min-width: 1080px) {
  .heading-content {
    font-size: 7em;
  }
}

.heading-link {
  text-decoration: none;
  color: inherit; 
}

.heading-link:hover {
  text-decoration: none;
}

