.pageContainer {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.headingContainer {
  text-shadow: none;
  font-size: 2em;
}

.fontCustom {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.2rem;
}
.playNow {
    background: #ff7d29;
    border: 1px solid #ff7d29;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin:10px
    
  }
  
  .playNow:hover,
  .playNow:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
  }
  
  .playNow:active {
    opacity: 0.5;
  }
  
