@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");


*{
  box-sizing: border-box;
}
body {
  background-color: #ffff80;
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  
}
